title {
	color: #FFFFFF;
}
body {
	background-image: url("background.png");
	background-color: #000000;
	text-align: center;
}
#main {
	width: 1000px;
	height: 2000px;
	background-image: transparent;
	margin: 15px auto;
	border: solid 2px #0E1670;
}
h1 {
	text-align: center;
	font-family: "Courier New";
	color: #FFFFFF;
}
hr {
	height: 2px;
	color: #0E1670;
}
h5 {
	font-family:"Calibri";
	color: #FFFFFF;
}
h3 {
	font-family:"Calibri";
	color: #FFFFFF;
}
h4 {
	font-family:"Calibri";
	color: #FFFFFF;
}
h2 {
	color: #FFFFFF;
}
h6 {
	color: #FFFFFF;
}
p {
	color: #FFFFFF;
}
